@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --font-family: DB Helvethaica, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  background: #f8f9fc !important;
}

* {
  font-family: var(--font-family);
  letter-spacing: 0.5px;
  -webkit-font-smoothing: subpixel-antialiased;
  text-rendering: optimizeLegibility;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.font-cordia-new {
  font-family: 'Cordia New', sans-serif;
}

@font-face {
  font-family: 'Cordia New';
  src: url('../fonts/cordia_new.ttf');
}

.font-arial {
  font-family: 'Arial', sans-serif;
}

@font-face {
  font-family: 'Arial';
  src: url('../fonts/arial.ttf');
}

.font-db-helvethaica {
  font-family: 'DB Helvethaica', sans-serif;
}

@font-face {
  font-family: 'DB Helvethaica';
  src: url('../fonts/db_helvethaica.ttf');
}